body {
  background-image: url("C:\Users\user\Pictures\final_project.jpg"); /* יש להחליף את הנתיב לתמונה בהתאם למיקום הנכון */
  background-size: cover;
  background-attachment: fixed; /* מוודא שהרקע לא יזוז */
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* דוגמה להוספת סגנון פונט כללי */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(40, 44, 52, 0.9); /* שקיפות כדי לראות את הרקע */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}